@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body{
    margin: 0;
    box-sizing: border-box;
    /* letter-spacing: var(--spacing); */
    background-color: var(--clr-grey-10);
}
.navbar{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-hero{
    position: relative;
    height: 40px;
}
.icon-list{
    display: flex;
    letter-spacing: 0.85rem;
    flex-shrink: 1;
}
.icon-list a{
    color :#49a6e9;
}
.link-list{
    display: flex;
    justify-content: space-between;
    flex-basis: 370;
    flex-shrink: 1;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
img{
    height: 40px;
}
a{
    text-decoration: none;
    color: var(--clr-grey-3);
    font-family: var(--ff-secondary);
    transition: all 0.3s linear;
    cursor: pointer;
}
a:hover{
    color: hsl(205, 89%, 70%);
}
.toggle-btn{
    display: none;
}
@media(max-width:800px){
    .icon-list{
        display: none;
    }
    .link-list{
        height:0;
        overflow:hidden;
        flex-wrap: wrap;
    }
    .link-list li{
        flex-basis: 100vh;
        padding: 0.5rem;
        transition: var(--transition);
        
    }
    .link-list li:hover{
        background-color: hsl(205, 63%, 48%);
        color: var(--clr-primary-5);
        padding-left: 1.5rem;
    }
    .navbar{
        display: block;
        transition: all 0.5s linear;  
    }
    .nav-hero{
        display: flex;
        justify-content: space-between;
    }
    .toggle-btn{
        display: block;
        border: 0 transparent;
        background-color: transparent;
        color: #49a6e9;
        align-self: center;
        cursor: pointer;
        transition: all 0.3s linear;
    }
    .toggle-btn:hover{
        transform: rotate(90deg);
        color: hsl(205, 86%, 17%);
    }
    .show-list{
        height: 10rem;
    }
}
